$light_blue_color : #03a9f4;
$dark_blue_color : #0288d1;
$white_color : #ffffff;
$yellow_color : #ffc107;
$grey_color : #fafafa;
$dark_grey_color : #e0e0e0;
$font_dark_color :#212121;
$font_dis_color:#727272;
$font_light_color:#b6b6b6;
$red_color:#ef5350;
$mobile: new-breakpoint(max-width 850px 4);